.side-bar {
    height:100%;
    width:15%;
    position:fixed;
    top:0px;
    left:0;
    background-color:#ffffff;
    padding-top:60px;
}

.main{
    margin-left: 18%;
    margin-top: 15%;
    padding: 10px;
}

.view_members {
    width: 80%;
    margin-left: 18%;
    margin-top: 5%;
    padding: 10px;
    
}

.edit_member {
    margin-left: 16%;
    margin-top: 5%;
    padding: 10px;
}

.delete-btn {
    border: 0px;
    background-color: transparent;
}

.delete-form {
    display: inline;
}